.dropdown-menu {
    border: 1px solid #dddddd;
    border-radius: 5px;
    padding: 20px;
    width: 350px;
    background-color: white;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    position: absolute;
    right: 20px;
    top: 60px;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button-group {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.dropdown-menu button {
    padding: 8px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background: gray;
    margin: 0 10px;
    position: relative;
    overflow: hidden;
    color: white;
    white-space: nowrap;
}

.dropdown-menu button span {
    color: white;
    position: relative;
    transition: color 0.2s ease;
}

.dropdown-menu button span::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: -5px;
    left: 50%;
    background-color: white;
    transition: all 0.3s ease;
}

.dropdown-menu button:hover span::after,
.dropdown-menu button span.active::after {
    width: 100%;
    left: 0;
}

.dropdown-menu input,
.dropdown-menu textarea {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.action-buttons {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 10px;
}
