body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.dropdown-menu {
    padding: 20px;
    width: 350px;
    background-color: white;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    right: 20px;
    top: 60px;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dropdown-menu h1 {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 22px;
    font-family: 'Arial Black', 'Gadget', sans-serif;
}

.dropdown-menu img {
    height: 45px;
    width: auto;
    margin-right: 1px;
}

.dropdown-menu .sensitivity-slider {
    margin-top: 15px;
    margin-bottom: 15px;
}


.dropdown-menu input,
.dropdown-menu textarea {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.main-button {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.main-button button {
    padding: 8px 20px;
    font-size: 14px;
    font-weight: 500;
    border: none;
    cursor: pointer;
    background: white;
    margin: 0 10px;
    position: relative;
    overflow: hidden;
    color: black;
    white-space: nowrap;
}

.main-button button span {
    color: black;
    position: relative;
    transition: color 0.2s ease;
    display: inline-block;
}

.main-button button span::after {
    content: '';
    position: absolute;
    width: 0;
    height: 3px;
    bottom: -5px;
    left: 50%;
    background-color: #0AC15F;
    transition: all 0.3s ease;
}

.main-button button:hover span::after,
.main-button button span.active::after {
    width: 100%;
    left: 0;
}

.action-buttons {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 10px;
}

.action-buttons button {
    padding: 6px 17px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background: #929292;
    margin: 0 10px;
    position: relative;
    overflow: hidden;
    color: white;
    white-space: nowrap;
}

.export-button {
    align-self: flex-end;
    margin-top: 25px; 
}

.export-button button {
    background: none; 
    border: none;
    padding: 0; 
}

.export-button img {
    cursor: pointer;
    height: 24px;
    width: auto;
}

.sensitivity-slider {
    -webkit-appearance: none;
    width: 100%;
    min-width: 280px;
    max-width: 680px;
    height: 10px;
    border-radius: 5px;
    background: linear-gradient(to right, #FFECB3, #FFC107);
    outline: none;
}

.sensitivity-slider:hover {
    background: linear-gradient(to right, #FFE082, #FFB300);
}

.sensitivity-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    background: #FFFFFF;
    border: 2px solid #BDBDBD;
    cursor: pointer;
    box-shadow: 0 2px 6px rgba(0,0,0,0.3);
    transition: transform 0.2s;
}

.sensitivity-slider::-webkit-slider-thumb:hover {
    transform: scale(1.1);
}

.sensitivity-slider::-moz-range-thumb {
    width: 22px;
    height: 22px;
    border-radius: 50%;
    background: #FFFFFF;
    border: 2px solid #BDBDBD;
    cursor: pointer;
    box-shadow: 0 2px 6px rgba(0,0,0,0.2);
}
